#auditWrap
	#auditClose
		span.fa.fa-close
	#auditContentWrap
		.leftTxWrap
			#auditLegend AUDIT
			#marbleIdWrap 
				div#marbleTeamName
				div#marbleId -
			span.ball.largeMarble.bluebg.auditMarble
			div#marbleTeamAttributes

		.txHistoryWrap
			.auditHint Click a Marble to Audit Its Transactions